:host {
  display: flex;
  flex: 1;
  mat-form-field {
    width: 100%;
  }
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    margin-top: 10px;
  }
}
