/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss";

.ag-theme-meterial {
  @include ag-theme-material();
}
